<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Команды для админа</title>
</head>
<link rel="stylesheet" href="admin_command.css">
<body>
    <div class="container">
    <h1>🔐 Админ-команды</h1>
    <p>Вот список команд, доступных администратору:</p>

    <div class="cmd">/admin — открыть панель</div>
    <div class="cmd">/stats — статистика бота</div>
    <div class="cmd">/broadcast — рассылка всем</div>
    <div class="cmd">/faq_edit — редактировать FAQ</div>
    <div class="cmd">/setcommands — обновить меню</div>

    <p><small>Эти команды доступны только администраторам.</small></p>

  </div>
</body>
</html>